#container{
 
}

h1{
  text-align: center;
  font-size: 2.3em;
}

#top_part{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#button{
  text-align: center;
  display: inline-block;
}

button{
  margin-right: 20px;
  font-size: 2.5rem;
  padding: 15px;
  border-radius: 40px;
  background-color: rgb(9, 255, 9);
  color: white;
  font-weight: bold;
}

#players_cards{
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  border: 1px solid black;
  margin-top: 50px;
  flex-wrap: wrap;
  height: 350px;
}

#card{
  font-size: 10rem;
  padding-inline: 23.74px;
  margin-inline: 10px;
  border: 2px solid black;
  border-radius: 11px;
  margin-bottom: 5px;
  color: white;
  padding-block: 17px;
  font-weight: bold;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out forwards; 
  
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start hidden */
  }
  to {
    opacity: 1; /* Fully visible */
  }
}

#cards{
  display: flex;
  border: 2px solid black;
  height: 215px;
  width: 130px;
  margin-left: 10px;
  border-radius: 11px;
  font-size: 3.3em;
  align-items: center;
  justify-content: center;
  font-weight:bold;
  cursor: pointer;
}

#sel-card{
  font-size: 10rem;
  padding-inline: 23.74px;
  margin-inline: 10px;
  border: 2px solid black;
  border-radius: 11px;
  margin-bottom: 5px;
  color: white;
  padding-block: 17px;
  font-weight: bold;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out forwards;

}

#cardz{
  font-size: 10rem;
  padding-inline: 23.74px;
  margin-inline: 10px;
  border: 2px solid black;
  border-radius: 11px;
  margin-bottom: 5px;
  color: white;
  padding-block: 17px;
  font-weight: bold;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out forwards; 
  
  

}

button{
  cursor: pointer;
}